mystyle.css
body{
margin: 0;
padding: 0;
background: #313131;
}
.slider{
      width: 350px;
      height: 250px;
      background: url(p7.png);
      margin:100px auto;
      animation: slide  20s infinite;
}
@keyframes slide{
    0%{
        background: url(p7.jpg);
    }
      25%{
      background: url(p2.jpg);
      }
      50%{
      background: url(p3.jpg);
      }
      75%{
      background: url(p4.jpg);
      }
      80%{
          background: url(p7.png);
      }
      100%{
      background: url(p6.jpg);
      }

}
